body,
html {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;

}

header {
    height: 80px;
    /* border: 1px solid black; */
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 1px 1px 1px #bdbbbb;
}

.returnindex {
    /* border: 1px solid black; */
    display: block;
    width: 50px;
    height: 80px;
    float: left;
    margin-left: 5%;
    line-height: 80px;
}

.returnindex a {
    color: rgb(220, 60, 60);
    text-decoration: none;
}

.returnindex a:hover {
    color: gray;
    text-decoration: underline;
}

nav {
    margin-right: 10%;
    float: right;
    height: 80px;
    /* border: 1px solid black; */
}

nav ul {
    margin: 0 auto;
    /* border: 1px solid black; */
    list-style: none;
    height: 80px;
}
nav a:hover{
    color: rgb(220, 60, 60);;;
}
.category{
    line-height: 80px;
    /* border: 1px solid black; */
    float: left;
    padding-right: 20px;
    padding-left: 10px;
    width: 50px;
}

.category a {
    color: black;
}

.categorylist{
    border: 1px solid #f0eeee;;
    width: 100px;
    line-height: 50px;
    display: none;
    position: relative;
    /* border: 1px solid black; */
    background-color: white;
    text-align: center;
    right: 25px;
}
.category:hover .categorylist{
    display: block;
    animation: fade-in .5s;
    animation: fromup .3s;

}
@keyframes fade-in{
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

@keyframes fromup{
    from {top:-10px}
    to {top:0px}
}
@keyframes fromleft{
    from {left: -10px;}
    to {left: 5px;}
}
a{
    text-decoration: none;
    position: relative;
}

a:after {
    content: "";
    width: 0;
    height: 2px;
    background: rgb(220, 60, 60);
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all .3s;
}

a:hover:after,
a.active:after {
    left: 0%;
    width: 100%;
    
}


main {
    margin-top: 100px;
    min-height: 600px;
    /* border: 1px solid black; */
    display: flex;
}

footer {
    background-color: rgb(40, 40, 40);
    color: white;
    text-align: center;
    height: 100px;
    width: 100%;
    
    bottom: 0;
}

footer span {
    text-align: center;
    line-height: 100px;
    margin: 0 auto;
}
.pageheadline{
    margin-top: 80px;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
img{
    width: 100%;
}