<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="http://localhost/yemublog/src/css/mainstyle.css">
    <script src="../..//vue.js"></script>
    <script src="../component.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../js/load_page.js"></script>
</head>

<body>
    <div class='header'>
        <div class='header_nav' id="header_nav">
            <yemu-header-nav-item v-for="(item, index) in nav_list" :key="item.id" v-bind:nav_item="item"></yemu-header-nav-item>
        </div>
    </div>
    <main>
        <div id="main_post">
            <yemu-post-info v-for="(item, index) in post_infos" :key="item.id" v-bind:post_info="item"></yemu-post-info>
        </div>
    </main>
    <footer>hello world</footer>
</body>

</html>