# Created by .ignore support plugin (hsz.mobi)
.gitignore
.project
.settings/
src/main/webapp/css/blog.css
src/main/webapp/html/admin/discuss.html
src/main/webapp/html/admin/user.html
src/main/webapp/html/blog.html
src/main/webapp/img/
src/main/webapp/js/admin.js
src/main/webapp/js/admindiscuss.js
src/main/webapp/js/adminindex.js
src/main/webapp/js/blog.js
src/main/webapp/js/index.js
src/main/webapp/js/login.js
src/main/webapp/js/logout.js
src/main/webapp/js/user.js
src/test/
target/
