body,
    html {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        background: #f1f1f1;
        min-width: 950px;
    }

    .leftnav {
        position: fixed;
        left: 0;
        top: 0;
        float: left;
        height: 100%;
        width: 150px;
        background: white;
        overflow:hidden;
        border-right: 1px solid #f1f1f1;
        /* border: 1px solid black; */
    }

    a {
        float: left;
        color: black;
        text-decoration: none;
       
    }

    .options {
        background: white;
        margin-top: 20%;
        list-style-type: none;
        overflow: hidden;
        /* border: 1px solid red; */
        height: 100%;
        display: block;
        position: relative;
        width: 150px;
        display: block;
    }
    .option{
        float: left;
        display: block;
        /* border: 1px solid green; */
        height: 10%;
        width: 100%;
        /* padding-bottom: 10%; */
    }
    .option a{
        margin-top: 10%;
        margin-left: -10%;
    }
    .option:hover a{
        
        color: red;
    }
    .option:hover .navicon{
        filter: drop-shadow(red 150px 0);
    }
    .option.active a{
        color: red;
    }
    .option.active .navicon{
        filter: drop-shadow(red 150px 0);
    }
    main {
        margin-left: 150px;
        min-width: 800px;
        margin-top: 0;
        border: 1px solid black;
        min-height: 800px;
        /* height: 1100px; */
    }

    .navicon {
        height: 28px;
        width: 28px;
        left: -150px;
        position: relative;
        filter: drop-shadow(#000000 150px 0);
        top:5px;
    }

    .returnindex {
        /* margin-left: 50px; */
    }