main {
    /* border: 1px solid black; */
    text-align: center;
}
.add_post_frame{
    position: relative;
    /* border: 1px solid black; */
    text-align: center;
}
#headline_area {
    resize: none;
    width: 100%;
    /* height: auto; */
    border: 1px solid rgb(199, 190, 190);
    border-radius: 5px;
    font-weight: bolder;
    font-size: 200%;
}
.tips{
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    visibility: hidden;
    background-color: black;
    opacity: 0.5;
    color: white;
}
.para_area{
    resize: none;
    width: 100%;
    border: 1px solid rgb(199, 190, 190);
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}