<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue重构模板</title>
    <script src="../vue.js"></script>
    <link rel="stylesheet" href="mainstyle.css">
</head>

<body>
    <!-- 组件化导航栏的项 -->
    <div class='header'>
        <div class='header_nav' id="header_nav">
            <yemu-header-nav-item v-for="(item, index) in nav_list" :key="item.id" v-bind:nav_item="item"></yemu-header-nav-item>
        </div>
    </div>
    <script>
        Vue.component('yemu-header-nav-item', {
            props: ['nav_item'],
            template: '<div class=header_nav_item><a href="#">{{ nav_item.item }}</a></div>'
        })
       var head=new Vue({
            el: '#header_nav',
            data() {
                return {
                    nav_list: [{
                            id: 0,
                            item: '首页'
                        },
                        {
                            id: 1,
                            item: '博客'
                        },
                        {
                            id: 2,
                            item: '关于'
                        },
                    ]
                }
            },
            methods: {
                add_item:function(head){
                    console.log(this.nav_list.length);
                    this.nav_list.push({id:this.nav_list.length,item:head})
                }
            },
        })
    </script>
    <script>
        head.add_item('hhhh');
    </script>
    <!-- <div id="example-1">
            <input v-model="nav_item" type="text">
            <button v-on:click="add(nav_item)">Add 1</button>
            <p>{{ nav_item }}</p>
    </div>
         <script>
            var example1 = new Vue({
            el: '#example-1',
            data: {
              nav_item: ''
            },
            methods:{
                add:function(){
                    head.nav_list.push({id:head.nav_list.length,item:this.nav_item})
                    nav_item=""
                    this.nav_item=""
                }
            }
          })
         </script> -->
         <main>
             <div id="main_post"> <yemu-post v-for="(item, index) in post_infos" :key="item.id" v-bind:post_info="item"></yemu-post></div>
            
         </main>
         <script>
             Vue.component('yemu-post',{
                 props:['post_info'],
                 template: `
                 <div class="post">
                    <div class="post_title"><a :href="post_info.link">{{ post_info.title }}</a></div>
                    <div class="post_date">{{ post_info.date}}</div>
            <div class="post_brief">{{ post_info.brief }}</div>
            <div class="post_all"><a :href="post_info.link">阅读全文...</a></div>
            </div>
            `//模板字符串使用反引号 (` `) 来代替普通字符串中的用双引号和单引号。
             })
             var main_post=new Vue({
                 el: '#main_post',
                 data() {
                     return {
                         post_infos:[
                             {id:0,title:'hhhh',date:'2019-1-18',brief:'jianjie',link:'index.html'}
                         ]
                     }
                 },
                 methods: {
                     add_post:function(post_info){
                         this.post_infos.push(post_info)
                     }
                 },
             })
             var post={id:1,title:'hhhh',date:'2019-1-18',brief:'jianjie',link:'index.html'} ;
             main_post.add_post(post);
         </script>
         <footer>
             design by yemu
         </footer>
</body>

</html>